{% extends "base.html.twig" %}

{% block title %}
    Movies page
{% endblock title %}

{% block body %}
    <h2>Movie list</h2>
    <ol>
        {% for movie in movies %}
            <li>{{ movie }}</li>
        {# this is a comment #}
        {% endfor %}
    </ol>
<h4> Global variables: </h4>
    <p>{{ _self }}</p>
    <p>{{ _charset }}</p>
    <p>Author: {{ authorsy }}</p>
{% endblock body %}
